<!DOCTYPE html>
<html lang="pt-BR" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<title>Brewer</title>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/vendors.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/algaworks.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/application.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/brewer.css}" />
</head>
<body>
	<div class="aw-layout-page">
	
		<!-- NAVBAR MENU -->
		<div th:replace="layout/includes/menu-navbar :: navbar"></div>
		
		<!-- SIDEBAR MENU -->
		<div th:replace="layout/includes/menu-sidebar :: sidebar"></div>
		
		<!-- CONTEÚDO PRINCIPAL -->
		<section layout:fragment="conteudo" class="aw-layout-content js-content"></section>
		
		<!-- FOOTER -->
		<div th:replace="layout/includes/footer :: footer"></div>
	</div>
	
<!-- SCRIPTS -->
<script th:src="@{/layout/javascripts/vendors.min.js}"></script>
<script th:src="@{/layout/javascripts/algaworks.min.js}"></script>
<script th:src="@{/js/vendors/jquery.maskMoney.min.js}"></script>
<script th:src="@{/js/brewer.js}"></script>
</body>
</html>